.*
contents.xcworkspacedata
xcuserdata/

Appodeal.zip
local.properties
__tmp/

cpp/bin/
cpp/proj.ios_mac/build/
cpp/proj.ios_mac/Appodeal.framework/

cpp/proj.android/local.properties
cpp/proj.android/assets/
cpp/proj.android/obj/
cpp/proj.android/bin/
cpp/proj.android/gen/
cpp/proj.android/libs/armeabi*
cpp/proj.android/libs/appodeal_lib/local.properties
cpp/proj.android/libs/appodeal_lib/proguard-project.txt
cpp/proj.android/libs/appodeal_lib/bin/
cpp/proj.android/libs/appodeal_lib/gen/
cpp/proj.android/libs/gps/obj/
cpp/proj.android/libs/gps/gen/
cpp/proj.android/libs/gps/bin/
cpp/proj.android/libs/cheetah-mobile/obj/
cpp/proj.android/libs/cheetah-mobile/gen/
cpp/proj.android/libs/cheetah-mobile/bin/

lua/frameworks/runtime-src/proj.ios_mac/build
lua/frameworks/runtime-src/proj.ios_mac/Appodeal.framework/
lua/frameworks/runtime-src/proj.android/local.properties
lua/frameworks/runtime-src/proj.android/assets/
lua/frameworks/runtime-src/proj.android/obj/
lua/frameworks/runtime-src/proj.android/bin/
lua/frameworks/runtime-src/proj.android/gen/
lua/frameworks/runtime-src/proj.android/libs/
lua/simulator
lua/frameworks/runtime-src/proj.android/libs/appodeal_lib/bin/
lua/frameworks/runtime-src/proj.android/libs/appodeal_lib/gen/
lua/frameworks/runtime-src/proj.android/libs/appodeal_lib/local.properties
lua/frameworks/runtime-src/proj.android/libs/appodeal_lib/proguard-project.txt


js/frameworks/runtime-src/proj.ios_mac/build
js/frameworks/runtime-src/proj.ios_mac/Appodeal.framework/
js/frameworks/runtime-src/proj.android/local.properties
js/frameworks/runtime-src/proj.android/assets/
js/frameworks/runtime-src/proj.android/obj/
js/frameworks/runtime-src/proj.android/bin/
js/frameworks/runtime-src/proj.android/gen/
js/frameworks/runtime-src/proj.android/libs/
js/simulator
js/frameworks/runtime-src/proj.android/libs/appodeal_lib/bin/
js/frameworks/runtime-src/proj.android/libs/appodeal_lib/gen/
js/frameworks/runtime-src/proj.android/libs/appodeal_lib/local.properties
js/frameworks/runtime-src/proj.android/libs/appodeal_lib/proguard-project.txt
